/**
 * sass/parts/header/files/header-primary.scss
 * @package scgolfpanel
 * @author Scott Shealy
 * @version 1.0.0
 * @copyright 2022
**/

#header-primary {
    // GLOBAL
    // MOBILE
        @media #{$screen-xs} {} //.COL-XS
        @media #{$screen-sm} {} //.COL-SM
        @media #{$screen-md} {} //.COL-MD
        @media #{$device-mobile} {} //.MOBILE

    // DESKTOP
        @media #{$device-desktop} {} //.DESKTOP
        @media #{$screen-lg} {} //.COL-LG
        @media #{$screen-xl} {} //.COL-XL
        @media #{$screen-xxl} {} //.COL-XXL

    .elementor-background-overlay {
        // GLOBAL
        // MOBILE
            @media #{$screen-xs} {} //.COL-XS
            @media #{$screen-sm} {} //.COL-SM
            @media #{$screen-md} {} //.COL-MD
            @media #{$device-mobile} {} //.MOBILE

        // DESKTOP
            @media #{$device-desktop} {} //.DESKTOP
            @media #{$screen-lg} {} //.COL-LG
            @media #{$screen-xl} {} //.COL-XL
            @media #{$screen-xxl} {} //.COL-XXL
    } //.ELEMENTOR-BACKGROUND-OVERLAY

    & > .elementor-container {
        // GLOBAL
        // MOBILE
            @media #{$screen-xs} {} //.COL-XS
            @media #{$screen-sm} {} //.COL-SM
            @media #{$screen-md} {} //.COL-MD
            @media #{$device-mobile} {} //.MOBILE

        // DESKTOP
            @media #{$device-desktop} {} //.DESKTOP
            @media #{$screen-lg} {} //.COL-LG
            @media #{$screen-xl} {} //.COL-XL
            @media #{$screen-xxl} {} //.COL-XXL

        & > .wrapper-content {
            // GLOBAL
                padding: $padding-sm;

            // MOBILE
                @media #{$screen-xs} {} //.COL-XS
                @media #{$screen-sm} {} //.COL-SM
                @media #{$screen-md} {
                    padding: $padding-md;
                } //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$screen-lg} {} //.COL-LG
                @media #{$screen-xl} {} //.COL-XL
                @media #{$screen-xxl} {} //.COL-XXL

            & > .elementor-widget-wrap {
                // GLOBAL
                    padding: $padding-sm !important;

                // MOBILE
                    @media #{$screen-xs} {} //.COL-XS
                    @media #{$screen-sm} {} //.COL-SM
                    @media #{$screen-md} {
                        padding: $padding-md !important;
                    } //.COL-MD
                    @media #{$device-mobile} {} //.MOBILE

                // DESKTOP
                    @media #{$device-desktop} {} //.DESKTOP
                    @media #{$screen-lg} {} //.COL-LG
                    @media #{$screen-xl} {} //.COL-XL
                    @media #{$screen-xxl} {} //.COL-XXL

                // CONTENT
                    @media #{$content-width-sm} {} //.CONTENT-WIDTH-SM
                    @media #{$content-width-lg} {} //.CONTENT-WIDTH-LG

                & > .elementor-section.row {
                    // GLOBAL
                    // MOBILE
                        @media #{$screen-xs} {} //.COL-XS
                        @media #{$screen-sm} {} //.COL-SM
                        @media #{$screen-md} {} //.COL-MD
                        @media #{$device-mobile} {} //.MOBILE

                    // DESKTOP
                        @media #{$device-desktop} {} //.DESKTOP
                        @media #{$screen-lg} {} //.COL-LG
                        @media #{$screen-xl} {} //.COL-XL
                        @media #{$screen-xxl} {} //.COL-XXL

                    & > .elementor-container {
                        // GLOBAL
                        // MOBILE
                            @media #{$screen-xs} {} //.COL-XS
                            @media #{$screen-sm} {} //.COL-SM
                            @media #{$screen-md} {} //.COL-MD
                            @media #{$device-mobile} {} //.MOBILE

                        // DESKTOP
                            @media #{$device-desktop} {} //.DESKTOP
                            @media #{$screen-lg} {} //.COL-LG
                            @media #{$screen-xl} {} //.COL-XL
                            @media #{$screen-xxl} {} //.COL-XXL

                        & > .elementor-column.columns {
                            // GLOBAL
                            // MOBILE
                                @media #{$screen-xs} {} //.COL-XS
                                @media #{$screen-sm} {} //.COL-SM
                                @media #{$screen-md} {} //.COL-MD
                                @media #{$device-mobile} {} //.MOBILE

                            // DESKTOP
                                @media #{$device-desktop} {} //.DESKTOP
                                @media #{$screen-lg} {} //.COL-LG
                                @media #{$screen-xl} {} //.COL-XL
                                @media #{$screen-xxl} {} //.COL-XXL
                        } //.ELEMENTOR-COLUMN.COLUMNS
                    } //.ELEMENTOR-CONTAINER
                } //.ELEMENTOR-SECTION.ROW
            } //.ELEMENTOR-WIDGET-WRAP
        } //.ELEMENTOR-COLUMN
    } //.ELEMENTOR-CONTAINER

    #header-logo {
        // GLOBAL
            width: $grid-5;
            display: flex;

        // MOBILE
            @media #{$screen-xs} {} //.COL-XS
            @media #{$screen-sm} {
                width: $grid-4;
            } //.COL-SM
            @media #{$screen-md} {
                width: $grid-3;
            } //.COL-MD
            @media #{$device-mobile} {} //.MOBILE

        // DESKTOP
            @media #{$device-desktop} {} //.DESKTOP
            @media #{$screen-lg} {} //.COL-LG
            @media #{$screen-xl} {
                width: $grid-2;
            } //.COL-XL
            @media #{$screen-xxl} {} //.COL-XXL

        a {
            // GLOBAL
            // MOBILE
                @media #{$screen-xs} {} //.COL-XS
                @media #{$screen-sm} {} //.COL-SM
                @media #{$screen-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$screen-lg} {} //.COL-LG
                @media #{$screen-xl} {} //.COL-XL
                @media #{$screen-xxl} {} //.COL-XXL

            img {
                // GLOBAL
                // MOBILE
                    @media #{$screen-xs} {} //.COL-XS
                    @media #{$screen-sm} {} //.COL-SM
                    @media #{$screen-md} {} //.COL-MD
                    @media #{$device-mobile} {} //.MOBILE

                // DESKTOP
                    @media #{$device-desktop} {} //.DESKTOP
                    @media #{$screen-lg} {} //.COL-LG
                    @media #{$screen-xl} {} //.COL-XL
                    @media #{$screen-xxl} {} //.COL-XXL
            } //IMG
        } //A
    } //#HEADER-LOGO

    #header-nav {
        // GLOBAL
            display: none;

        // MOBILE
            @media #{$screen-xs} {} //.COL-XS
            @media #{$screen-sm} {} //.COL-SM
            @media #{$screen-md} {} //.COL-MD
            @media #{$device-mobile} {} //.MOBILE

        // DESKTOP
            @media #{$device-desktop} {} //.DESKTOP
            @media #{$screen-lg} {} //.COL-LG
            @media #{$screen-xl} {
                width: $grid-10;
                display: flex;
            } //.COL-XL
            @media #{$screen-xxl} {} //.COL-XXL

        nav.elementor-nav-menu--main {
            // GLOBAL
            // MOBILE
                @media #{$screen-xs} {} //.COL-XS
                @media #{$screen-sm} {} //.COL-SM
                @media #{$screen-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$screen-lg} {} //.COL-LG
                @media #{$screen-xl} {} //.COL-XL
                @media #{$screen-xxl} {} //.COL-XXL

            ul.elementor-nav-menu {
                // GLOBAL
                // MOBILE
                    @media #{$screen-xs} {} //.COL-XS
                    @media #{$screen-sm} {} //.COL-SM
                    @media #{$screen-md} {} //.COL-MD
                    @media #{$device-mobile} {} //.MOBILE

                // DESKTOP
                    @media #{$device-desktop} {} //.DESKTOP
                    @media #{$screen-lg} {} //.COL-LG
                    @media #{$screen-xl} {} //.COL-XL
                    @media #{$screen-xxl} {} //.COL-XXL

                li.menu-item {
                    // GLOBAL
                    // MOBILE
                        @media #{$screen-xs} {} //.COL-XS
                        @media #{$screen-sm} {} //.COL-SM
                        @media #{$screen-md} {} //.COL-MD
                        @media #{$device-mobile} {} //.MOBILE

                    // DESKTOP
                        @media #{$device-desktop} {} //.DESKTOP
                        @media #{$screen-lg} {} //.COL-LG
                        @media #{$screen-xl} {} //.COL-XL
                        @media #{$screen-xxl} {} //.COL-XXL

                    a {
                        // GLOBAL
                            padding: $padding-xs $padding-md;
                            color: $color-grayscale-light-12;

                            &:hover {
                                background-color: $link-hover-color;
                            } //:HOVER

                        // MOBILE
                            @media #{$screen-xs} {} //.COL-XS
                            @media #{$screen-sm} {} //.COL-SM
                            @media #{$screen-md} {} //.COL-MD
                            @media #{$device-mobile} {} //.MOBILE

                        // DESKTOP
                            @media #{$device-desktop} {} //.DESKTOP
                            @media #{$screen-lg} {} //.COL-LG
                            @media #{$screen-xl} {} //.COL-XL
                            @media #{$screen-xxl} {} //.COL-XXL

                        &.elementor-item-active {
                            // GLOBAL
                                &::before {
                                    background: $color-scgolfpanel-green-dark-3;
                                } //::BEFORE

                            // MOBILE
                                @media #{$screen-xs} {} //.COL-XS
                                @media #{$screen-sm} {} //.COL-SM
                                @media #{$screen-md} {} //.COL-MD
                                @media #{$device-mobile} {} //.MOBILE

                            // DESKTOP
                                @media #{$device-desktop} {} //.DESKTOP
                                @media #{$screen-lg} {} //.COL-LG
                                @media #{$screen-xl} {} //.COL-XL
                                @media #{$screen-xxl} {} //.COL-XXL
                        } //.ELEMENTOR-ITEM-ACTIVE
                    } //A

                    &.button-solid {
                        // GLOBAL
                            border: $border-outline;

                        // MOBILE
                            @media #{$screen-xs} {} //.COL-XS
                            @media #{$screen-sm} {} //.COL-SM
                            @media #{$screen-md} {} //.COL-MD
                            @media #{$device-mobile} {} //.MOBILE

                        // DESKTOP
                            @media #{$device-desktop} {} //.DESKTOP
                            @media #{$screen-lg} {} //.COL-LG
                            @media #{$screen-xl} {} //.COL-XL
                            @media #{$screen-xxl} {} //.COL-XXL
                    } //.BUTTON-SOLID
                } //.MENU-ITEM
            } //.ELEMENTOR-NAV-MENU
        } //.ELEMENTOR-NAV-MENU--MAIN
    } //#HEADER-NAV

    #header-toggle {
        // GLOBAL
            width: $grid-7;
            display: flex;

        // MOBILE
            @media #{$screen-xs} {} //.COL-XS
            @media #{$screen-sm} {
                width: $grid-8;
            } //.COL-SM
            @media #{$screen-md} {
                width: $grid-9;
            } //.COL-MD
            @media #{$device-mobile} {} //.MOBILE

        // DESKTOP
            @media #{$device-desktop} {} //.DESKTOP
            @media #{$screen-lg} {} //.COL-LG
            @media #{$screen-xl} {
                display: none;
            } //.COL-XL
            @media #{$screen-xxl} {} //.COL-XXL

        a {
            // GLOBAL
            // MOBILE
                @media #{$screen-xs} {} //.COL-XS
                @media #{$screen-sm} {} //.COL-SM
                @media #{$screen-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$screen-lg} {} //.COL-LG
                @media #{$screen-xl} {} //.COL-XL
                @media #{$screen-xxl} {} //.COL-XXL

            i {
                // GLOBAL
                    font-size: 0.75em;
                    color: $color-grayscale-light-12;
                    
                // MOBILE
                    @media #{$screen-xs} {} //.COL-XS
                    @media #{$screen-sm} {} //.COL-SM
                    @media #{$screen-md} {} //.COL-MD
                    @media #{$device-mobile} {} //.MOBILE

                // DESKTOP
                    @media #{$device-desktop} {} //.DESKTOP
                    @media #{$screen-lg} {} //.COL-LG
                    @media #{$screen-xl} {} //.COL-XL
                    @media #{$screen-xxl} {} //.COL-XXL
            } //I
        } //A
    } //#HEADER-TOGGLE

} //#HEADER-PRIMARY