/**
 * sass/parts/footer/files/footer-secondary.scss
 * @package scgolfpanel
 * @author Scott Shealy
 * @version 1.0.0
 * @copyright 2022
**/

#footer-secondary {
    // GLOBAL
        background-color: $color-grayscale-dark-12;

    // MOBILE
        @media #{$screen-xs} {} //.COL-XS
        @media #{$screen-sm} {} //.COL-SM
        @media #{$screen-md} {} //.COL-MD
        @media #{$device-mobile} {} //.MOBILE

    // DESKTOP
        @media #{$device-desktop} {} //.DESKTOP
        @media #{$screen-lg} {} //.COL-LG
        @media #{$screen-xl} {} //.COL-XL
        @media #{$screen-xxl} {} //.COL-XXL

    .elementor-background-overlay {
        // GLOBAL
        // MOBILE
            @media #{$screen-xs} {} //.COL-XS
            @media #{$screen-sm} {} //.COL-SM
            @media #{$screen-md} {} //.COL-MD
            @media #{$device-mobile} {} //.MOBILE

        // DESKTOP
            @media #{$device-desktop} {} //.DESKTOP
            @media #{$screen-lg} {} //.COL-LG
            @media #{$screen-xl} {} //.COL-XL
            @media #{$screen-xxl} {} //.COL-XXL
    } //.ELEMENTOR-BACKGROUND-OVERLAY
    
    .elementor-container {
        // GLOBAL
        // MOBILE
            @media #{$screen-xs} {} //.COL-XS
            @media #{$screen-sm} {} //.COL-SM
            @media #{$screen-md} {} //.COL-MD
            @media #{$device-mobile} {} //.MOBILE

        // DESKTOP
            @media #{$device-desktop} {} //.DESKTOP
            @media #{$screen-lg} {} //.COL-LG
            @media #{$screen-xl} {} //.COL-XL
            @media #{$screen-xxl} {} //.COL-XXL

        .wrapper-content {
            // GLOBAL
                padding-top: $padding-xs;
                padding-bottom: $padding-xs;

            // MOBILE
                @media #{$screen-xs} {} //.COL-XS
                @media #{$screen-sm} {} //.COL-SM
                @media #{$screen-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$screen-lg} {} //.COL-LG
                @media #{$screen-xl} {} //.COL-XL
                @media #{$screen-xxl} {} //.COL-XXL

            & > .elementor-widget-wrap {
                // GLOBAL
                // MOBILE
                    @media #{$screen-xs} {} //.COL-XS
                    @media #{$screen-sm} {} //.COL-SM
                    @media #{$screen-md} {} //.COL-MD
                    @media #{$device-mobile} {} //.MOBILE

                // DESKTOP
                    @media #{$device-desktop} {} //.DESKTOP
                    @media #{$screen-lg} {} //.COL-LG
                    @media #{$screen-xl} {} //.COL-XL
                    @media #{$screen-xxl} {} //.COL-XXL

                & > .elementor-section.row {
                    // GLOBAL
                    // MOBILE
                        @media #{$screen-xs} {} //.COL-XS
                        @media #{$screen-sm} {} //.COL-SM
                        @media #{$screen-md} {} //.COL-MD
                        @media #{$device-mobile} {} //.MOBILE

                    // DESKTOP
                        @media #{$device-desktop} {} //.DESKTOP
                        @media #{$screen-lg} {} //.COL-LG
                        @media #{$screen-xl} {} //.COL-XL
                        @media #{$screen-xxl} {} //.COL-XXL

                    & > .elementor-container {
                        // GLOBAL
                            align-items: center;

                        // MOBILE
                            @media #{$screen-xs} {} //.COL-XS
                            @media #{$screen-sm} {} //.COL-SM
                            @media #{$screen-md} {} //.COL-MD
                            @media #{$device-mobile} {} //.MOBILE

                        // DESKTOP
                            @media #{$device-desktop} {} //.DESKTOP
                            @media #{$screen-lg} {} //.COL-LG
                            @media #{$screen-xl} {} //.COL-XL
                            @media #{$screen-xxl} {} //.COL-XXL

                        & > .columns {
                            // GLOBAL
                            // MOBILE
                                @media #{$screen-xs} {} //.COL-XS
                                @media #{$screen-sm} {} //.COL-SM
                                @media #{$screen-md} {} //.COL-MD
                                @media #{$device-mobile} {} //.MOBILE

                            // DESKTOP
                                @media #{$device-desktop} {} //.DESKTOP
                                @media #{$screen-lg} {} //.COL-LG
                                @media #{$screen-xl} {} //.COL-XL
                                @media #{$screen-xxl} {} //.COL-XXL
                        } //.COLUMNS
                    } //.ELEMENTOR-CONTAINER
                } //.ELEMENTOR-SECTION.ROW
            } //.ELEMENTOR-WIDGET-WRAP
        } //.WRAPPER-CONTENT
    } //.ELEMENTOR-CONTAINER

    #{$text-all} {
        // GLOBAL
            margin: $margin-none;
            text-align: center;
            color: $color-grayscale-light-12;

        // MOBILE
            @media #{$screen-xs} {} //.COL-XS
            @media #{$screen-sm} {} //.COL-SM
            @media #{$screen-md} {} //.COL-MD
            @media #{$device-mobile} {} //.MOBILE

        // DESKTOP
            @media #{$device-desktop} {} //.DESKTOP
            @media #{$screen-lg} {
                text-align: left;
            } //.COL-LG
            @media #{$screen-xl} {} //.COL-XL
            @media #{$screen-xxl} {} //.COL-XXL
    } //.TEXT-ALL

    #{$text-body-all} {
        // GLOBAL
            font-size: 0.85em;

        // MOBILE
            @media #{$screen-xs} {} //.COL-XS
            @media #{$screen-sm} {} //.COL-SM
            @media #{$screen-md} {} //.COL-MD
            @media #{$device-mobile} {} //.MOBILE

        // DESKTOP
            @media #{$device-desktop} {} //.DESKTOP
            @media #{$screen-lg} {} //.COL-LG
            @media #{$screen-xl} {} //.COL-XL
            @media #{$screen-xxl} {} //.COL-XXL
    } //.TEXT-BODY-ALL

    #{$text-links-all} {
        // GLOBAL
            &:hover {
                color: $color-grayscale-light-3;
            } //:HOVER

        // MOBILE
            @media #{$screen-xs} {} //.COL-XS
            @media #{$screen-sm} {} //.COL-SM
            @media #{$screen-md} {} //.COL-MD
            @media #{$device-mobile} {} //.MOBILE

        // DESKTOP
            @media #{$device-desktop} {} //.DESKTOP
            @media #{$screen-lg} {} //.COL-LG
            @media #{$screen-xl} {} //.COL-XL
            @media #{$screen-xxl} {} //.COL-XXL
    } //.TEXT-LINKS-ALL

    #footer-copyright {
        // GLOBAL
            margin-bottom: $margin-sm;

        // MOBILE
            @media #{$screen-xs} {} //.COL-XS
            @media #{$screen-sm} {} //.COL-SM
            @media #{$screen-md} {} //.COL-MD
            @media #{$device-mobile} {} //.MOBILE

        // DESKTOP
            @media #{$device-desktop} {} //.DESKTOP
            @media #{$screen-lg} {
                margin-bottom: $margin-none;
            } //.COL-LG
            @media #{$screen-xl} {} //.COL-XL
            @media #{$screen-xxl} {} //.COL-XXL
    } //#FOOTER-COPYRIGHT

    #footer-menu-secondary {
        // GLOBAL
        // MOBILE
            @media #{$screen-xs} {} //.COL-XS
            @media #{$screen-sm} {} //.COL-SM
            @media #{$screen-md} {} //.COL-MD
            @media #{$device-mobile} {} //.MOBILE

        // DESKTOP
            @media #{$device-desktop} {} //.DESKTOP
            @media #{$screen-lg} {} //.COL-LG
            @media #{$screen-xl} {} //.COL-XL
            @media #{$screen-xxl} {} //.COL-XXL

        .elementor-widget-nav-menu {
            // GLOBAL
            // MOBILE
                @media #{$screen-xs} {} //.COL-XS
                @media #{$screen-sm} {} //.COL-SM
                @media #{$screen-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$screen-lg} {} //.COL-LG
                @media #{$screen-xl} {} //.COL-XL
                @media #{$screen-xxl} {} //.COL-XXL

            nav.elementor-nav-menu--main {
                // GLOBAL
                // MOBILE
                    @media #{$screen-xs} {} //.COL-XS
                    @media #{$screen-sm} {} //.COL-SM
                    @media #{$screen-md} {} //.COL-MD
                    @media #{$device-mobile} {} //.MOBILE

                // DESKTOP
                    @media #{$device-desktop} {} //.DESKTOP
                    @media #{$screen-lg} {} //.COL-LG
                    @media #{$screen-xl} {} //.COL-XL
                    @media #{$screen-xxl} {} //.COL-XXL

                ul.elementor-nav-menu {
                    // GLOBAL
                        width: 100.00%;
                        justify-content: center;

                    // MOBILE
                        @media #{$screen-xs} {} //.COL-XS
                        @media #{$screen-sm} {} //.COL-SM
                        @media #{$screen-md} {} //.COL-MD
                        @media #{$device-mobile} {} //.MOBILE

                    // DESKTOP
                        @media #{$device-desktop} {} //.DESKTOP
                        @media #{$screen-lg} {
                            justify-content: flex-end;
                        } //.COL-LG
                        @media #{$screen-xl} {} //.COL-XL
                        @media #{$screen-xxl} {} //.COL-XXL

                    li.menu-item {
                        // GLOBAL
                            margin: $margin-none $margin-xxs;

                            &:last-child {
                                margin-right: $margin-none;
                            }

                        // MOBILE
                            @media #{$screen-xs} {} //.COL-XS
                            @media #{$screen-sm} {} //.COL-SM
                            @media #{$screen-md} {} //.COL-MD
                            @media #{$device-mobile} {} //.MOBILE

                        // DESKTOP
                            @media #{$device-desktop} {} //.DESKTOP
                            @media #{$screen-lg} {} //.COL-LG
                            @media #{$screen-xl} {} //.COL-XL
                            @media #{$screen-xxl} {} //.COL-XXL

                        a {
                            // GLOBAL
                                padding: $padding-none;

                            // MOBILE
                                @media #{$screen-xs} {} //.COL-XS
                                @media #{$screen-sm} {} //.COL-SM
                                @media #{$screen-md} {} //.COL-MD
                                @media #{$device-mobile} {} //.MOBILE

                            // DESKTOP
                                @media #{$device-desktop} {} //.DESKTOP
                                @media #{$screen-lg} {} //.COL-LG
                                @media #{$screen-xl} {} //.COL-XL
                                @media #{$screen-xxl} {} //.COL-XXL
                        } //A
                    } //.MENU-ITEM
                } //.ELEMENTOR-NAV-MENU
            } //.ELEMENTOR-NAV-MENU--MAIN
        } //.ELEMENTOR-WIDGET-NAV-MENU
    } //#FOOTER-MENU-SECONDARY

} //#FOOTER-SECONDARY