/**
 * sass/parts/heroes/files/hero-home.scss
 * @package scgolfpanel
 * @author Scott Shealy
 * @version 1.0.0
 * @copyright 2022
**/

&-home {
    // GLOBAL
        height: $hero-home-height;
        display: flex;
        flex-direction: column;
        background-size: cover;
        background-repeat: no-repeat;

    // MOBILE
        @media #{$screen-xs} {} //.COL-XS
        @media #{$screen-sm} {} //.COL-SM
        @media #{$screen-md} {} //.COL-MD
        @media #{$device-mobile} {} //.MOBILE

    // DESKTOP
        @media #{$device-desktop} {} //.DESKTOP
        @media #{$screen-lg} {} //.COL-LG
        @media #{$screen-xl} {} //.COL-XL
        @media #{$screen-xxl} {} //.COL-XXL

    .elementor-background-overlay {
        // GLOBAL
            background: rgba($color-grayscale-dark-9, 0.80);
            background: $hero-gradient;
            opacity: 1.00 !important;

        // MOBILE
            @media #{$screen-xs} {} //.COL-XS
            @media #{$screen-sm} {} //.COL-SM
            @media #{$screen-md} {} //.COL-MD
            @media #{$device-mobile} {} //.MOBILE

        // DESKTOP
            @media #{$device-desktop} {} //.DESKTOP
            @media #{$screen-lg} {} //.COL-LG
            @media #{$screen-xl} {} //.COL-XL
            @media #{$screen-xxl} {} //.COL-XXL
    } //.ELEMENTOR-BACKGROUND-OVERLAY

    > .elementor-container {
        // GLOBAL
            height: 100.00%;
            width: 100.00%;

        // MOBILE
            @media #{$screen-xs} {} //.COL-XS
            @media #{$screen-sm} {} //.COL-SM
            @media #{$screen-md} {} //.COL-MD
            @media #{$device-mobile} {} //.MOBILE

        // DESKTOP
            @media #{$device-desktop} {} //.DESKTOP
            @media #{$screen-lg} {} //.COL-LG
            @media #{$screen-xl} {} //.COL-XL
            @media #{$screen-xxl} {} //.COL-XXL

        .wrapper-content {
            // GLOBAL
                padding: $padding-sm;

            // MOBILE
                @media #{$screen-xs} {} //.COL-XS
                @media #{$screen-sm} {} //.COL-SM
                @media #{$screen-md} {
                    padding: $padding-md;
                } //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$screen-lg} {} //.COL-LG
                @media #{$screen-xl} {} //.COL-XL
                @media #{$screen-xxl} {} //.COL-XXL

            // CONTENT
                @media #{$content-width-sm} {} //.CONTENT-WIDTH-SM
                @media #{$content-width-lg} {} //.CONTENT-WIDTH-LG

            & > .elementor-widget-wrap {
                // GLOBAL
                    padding: $padding-sm !important;
                    border: $border-section;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-end;

                // MOBILE
                    @media #{$screen-xs} {} //.COL-XS
                    @media #{$screen-sm} {} //.COL-SM
                    @media #{$screen-md} {
                        padding: $padding-md !important;
                    } //.COL-MD
                    @media #{$device-mobile} {} //.MOBILE

                // DESKTOP
                    @media #{$device-desktop} {} //.DESKTOP
                    @media #{$screen-lg} {} //.COL-LG
                    @media #{$screen-xl} {} //.COL-XL
                    @media #{$screen-xxl} {} //.COL-XXL

                // CONTENT
                    @media #{$content-width-sm} {} //.CONTENT-WIDTH-SM
                    @media #{$content-width-lg} {
                        padding: $padding-xl !important;
                    } //.CONTENT-WIDTH-LG

                & > .elementor-section.row {
                    // GLOBAL
                    // MOBILE
                        @media #{$screen-xs} {} //.COL-XS
                        @media #{$screen-sm} {} //.COL-SM
                        @media #{$screen-md} {} //.COL-MD
                        @media #{$device-mobile} {} //.MOBILE

                    // DESKTOP
                        @media #{$device-desktop} {} //.DESKTOP
                        @media #{$screen-lg} {} //.COL-LG
                        @media #{$screen-xl} {} //.COL-XL
                        @media #{$screen-xxl} {} //.COL-XXL

                    & > .elementor-container {
                        // GLOBAL
                            width: 100.00%;
                            align-items: flex-end;

                        // MOBILE
                            @media #{$screen-xs} {} //.COL-XS
                            @media #{$screen-sm} {} //.COL-SM
                            @media #{$screen-md} {} //.COL-MD
                            @media #{$device-mobile} {
                                justify-content: center;
                            } //.MOBILE

                        // DESKTOP
                            @media #{$device-desktop} {
                                justify-content: flex-end;
                            } //.DESKTOP
                            @media #{$screen-lg} {} //.COL-LG
                            @media #{$screen-xl} {} //.COL-XL
                            @media #{$screen-xxl} {} //.COL-XXL

                        .elementor-widget {
                            // GLOBAL
                                margin: $margin-none;
                                margin-bottom: $margin-none;

                            // MOBILE
                                @media #{$screen-xs} {} //.COL-XS
                                @media #{$screen-sm} {} //.COL-SM
                                @media #{$screen-md} {} //.COL-MD
                                @media #{$device-mobile} {} //.MOBILE

                            // DESKTOP
                                @media #{$device-desktop} {} //.DESKTOP
                                @media #{$screen-lg} {} //.COL-LG
                                @media #{$screen-xl} {} //.COL-XL
                                @media #{$screen-xxl} {} //.COL-XXL
                        } //.ELEMENTOR-WIDGET
                    } //.ELEMENTOR-CONTAINER

                    .columns {
                        // GLOBAL
                            padding-top: $padding-sm;
                            border-top: $border-section;
                        // MOBILE
                            @media #{$screen-xs} {} //.COL-XS
                            @media #{$screen-sm} {} //.COL-SM
                            @media #{$screen-md} {} //.COL-MD
                            @media #{$device-mobile} {} //.MOBILE

                        // DESKTOP
                            @media #{$device-desktop} {} //.DESKTOP
                            @media #{$screen-lg} {} //.COL-LG
                            @media #{$screen-xl} {} //.COL-XL
                            @media #{$screen-xxl} {} //.COL-XXL
                    } //.COLUMNS
                } //.ELEMENTOR-SECTION-ROW
            } //.ELEMENTOR-WIDGET-WRAP
        } //.WRAPPER-CONTENT
    } //.ELEMENTOR-CONTAINER

    #{$text-all} {
        // GLOBAL
            color: $color-grayscale-light-12;

        // MOBILE
            @media #{$screen-xs} {} //.COL-XS
            @media #{$screen-sm} {} //.COL-SM
            @media #{$screen-md} {} //.COL-MD
            @media #{$device-mobile} {
                text-align: center;
            } //.MOBILE

        // DESKTOP
            @media #{$device-desktop} {
                text-align: left;
            } //.DESKTOP
            @media #{$screen-lg} {} //.COL-LG
            @media #{$screen-xl} {} //.COL-XL
            @media #{$screen-xxl} {} //.COL-XXL
    } //.TEXT-ALL

    #{$text-headings-all} {
        // GLOBAL
            margin: $margin-none;
            margin-bottom: $margin-xs;

        // MOBILE
            @media #{$screen-xs} {
                font-size: 1.50em;
            } //.COL-XS
            @media #{$screen-sm} {
                font-size: 1.75em;
            } //.COL-SM
            @media #{$screen-md} {} //.COL-MD
            @media #{$device-mobile} {} //.MOBILE

        // DESKTOP
            @media #{$device-desktop} {} //.DESKTOP
            @media #{$screen-lg} {} //.COL-LG
            @media #{$screen-xl} {} //.COL-XL
            @media #{$screen-xxl} {} //.COL-XXL
    } //.TEXT-HEADINGS-ALL

    #{$text-body-all} {
        // GLOBAL
            margin: $margin-none;
            
        // MOBILE
            @media #{$screen-xs} {} //.COL-XS
            @media #{$screen-sm} {} //.COL-SM
            @media #{$screen-md} {} //.COL-MD
            @media #{$device-mobile} {} //.MOBILE

        // DESKTOP
            @media #{$device-desktop} {} //.DESKTOP
            @media #{$screen-lg} {} //.COL-LG
            @media #{$screen-xl} {} //.COL-XL
            @media #{$screen-xxl} {} //.COL-XXL
    } //.TEXT-BODY-ALL

    .elementor-widget-button {
        // GLOBAL
        // MOBILE
            @media #{$screen-xs} {} //.COL-XS
            @media #{$screen-sm} {} //.COL-SM
            @media #{$screen-md} {} //.COL-MD
            @media #{$device-mobile} {} //.MOBILE

        // DESKTOP
            @media #{$device-desktop} {} //.DESKTOP
            @media #{$screen-lg} {} //.COL-LG
            @media #{$screen-xl} {} //.COL-XL
            @media #{$screen-xxl} {} //.COL-XXL

        .elementor-button-wrapper {
            // GLOBAL
                display: flex;

            // MOBILE
                @media #{$screen-xs} {} //.COL-XS
                @media #{$screen-sm} {} //.COL-SM
                @media #{$screen-md} {} //.COL-MD
                @media #{$device-mobile} {
                    justify-content: center;
                } //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {
                    justify-content: flex-start;
                } //.DESKTOP
                @media #{$screen-lg} {} //.COL-LG
                @media #{$screen-xl} {} //.COL-XL
                @media #{$screen-xxl} {} //.COL-XXL
        } //.ELEMENTOR-BUTTON-WRAPPER

        .elementor-button {
            // GLOBAL
                margin: $margin-none;
                margin-top: $margin-sm;

            // MOBILE
                @media #{$screen-xs} {} //.COL-XS
                @media #{$screen-sm} {} //.COL-SM
                @media #{$screen-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$screen-lg} {} //.COL-LG
                @media #{$screen-xl} {} //.COL-XL
                @media #{$screen-xxl} {} //.COL-XXL
        } //.ELEMENTOR-BUTTON
    } //.ELEMENTOR-WIDGET-BUTTON

} //.HERO-HOME